doctype html
html
    head
        title Create
        link(href='../lib/bootstrap/css/bootstrap.min.css', rel='stylesheet')
        script(src='../lib/bootstrap/js/bootstrap.min.js')
        script(src='../lib/jquery.js')
        link(href='../bin/css/create.css' rel='stylesheet')
        script(src='../bin/js/create.js')

    body
        nav.navbar.nav-background.navbar-default
            div.container-fluid
                div.userInfo.navbar-header.navbar-left
                    a.navbar-brand(href='/') Exchange
    
                ul.nav.navbar-nav.navbar-right
                    li
                        a.col-md-4.btn.btn-link(href='/') 首页
                    li
                        a.col-md-4.btn.btn-link(href='/usr') 个人页面
                    li
                        a.col-md-4.btn.btn-link(href='/') 退出

        div.container.well.well-lg.czy-container

            p.title Create wish

            form.wishInfo.center(method="POST" role="form")
                div.form-group
                    label(for="title") 主题
                    input.form-control(name='title' type='text' id='title' placeholder='Title') 
                div.form-group
                    label(for="stt") 开始时间
                    input.form-control(name='stt' type='date' id='stt' placeholder='Start time') 
                div.form-group
                    label(for="ddl") 结束时间
                    input.form-control(name='ddl' type='date' id='ddl' placeholder='Finish time') 
                div.form-group
                    label(for="loc")地点
                    input.form-control(name='loc' type='text' id='loc' placeholder='Location')
                div.form-group
                    label(for="desc") 描述
                    textarea.form-control(name='desc' type='text' id='desc' placeholder='Description' rows="3")
                button.btn.btn-success(type='submit') 发布
                button.btn.btn-default(type='reset') 取消
