doctype html
html
	head
		title Exchange
		link(href='/bin/css/bootstrap.min.css', rel='stylesheet')
		script(src='/bin/js/jquery-2.1.4.min.js')
		script(src='/bin/js/bootstrap.min.js')
	body
		nav.navbar.navbar-default(role='navigation')
			a.navbar-brand(href='/') Exchange
			div
				form.navbar-form.navbar-right
					.form-group
						input.form-control(type='text', placeholder='Email')
						span(style='margin:5px')
						input.form-control(type='password', placeholder='password')
					span(style='margin:5px')
					a(href='/') 登陆
					span(style='margin:5px')
					a(href='/singup') 注册

		div.center-block
			div.btn-group 
				button.btn.btn-default(type='button') 最新
				button.btn.btn-default(type='button') 最热门
			div(style="margin:20px")
			.form-inline
				|搜索地区：
				input.form-control(id='loc',type='text',placeholder='place')
				span 
				|搜索时间：
				input.form-control(id='std',type='text',placeholder='begin time')
				span 
				|至：
				input.form-control(id='ddl',type='text',placeholder='end time') 
			div(style="margin:50px")
			div
				div.media
					a.pull-left(href='/wish')
						img.img-thumbnail(src='/src/img/user.png')
					div.media-body
						h4.media-heading wish_head
						|hhhhh
						|wwwwwwwwww
				div.media
					a.pull-left(href='/wish')
						img.img-thumbnail(src='/src/img/user.png')
					div.media-body
						h4.media-heading wish_head
						|hhhhh
						|wwwwwwwwww
				div.media
					a.pull-left(href='/wish')
						img.img-thumbnail(src='/src/img/user.png')
					div.media-body
						h4.media-heading wish_head
						|hhhhh
						|wwwwwwwwww
				div.media
					a.pull-left(href='/wish')
						img.img-thumbnail(src='/src/img/user.png')
					div.media-body
						h4.media-heading wish_head
						|hhhhh
						|wwwwwwwwww