doctype html
html
	head
		title Exchange
		link(href='/bin/css/bootstrap.min.css', rel='stylesheet')
		script(src='/bin/js/jquery-2.1.4.min.js')
		script(src='/bin/js/bootstrap.min.js')
	body
		nav.navbar.navbar-default(role='navigation')
			a.navbar-brand(href='/') Exchange
			div
				form.navbar-form.navbar-right
					span(style='margin:5px')
					a(href='/') 首页
					span(style='margin:5px')
					a(href='/user') 我的主页

		div
			div.page-header
				h1
					.small 关注列表
			div.col-sm-3.col-md-1
				a(href='/user')
					div.thumbnail
							img(src='src/img/user.png')
						div.caption
							h3 小明

			div.col-sm-3.col-md-1
				a(href='/user')
					div.thumbnail
							img(src='src/img/user.png')
						div.caption
							h3 小明

			div.col-sm-3.col-md-1
				a(href='/user')
					div.thumbnail
							img(src='src/img/user.png')
						div.caption
							h3 小明

			div.col-sm-3.col-md-1
				a(href='/user')
					div.thumbnail
							img(src='src/img/user.png')
						div.caption
							h3 小明




				