doctype html
html
    head
        title login
        script(src='./lib/jquery.js')
        link(href='/bin/css/login.css' rel='stylesheet')
        script(src='./bin/js/login.js')
    body
        input(type='text' id='username' placeholder='username')
        input(type='password' id='password' placeholder='password')
        input(type='text' id='email' placeholder='email')
        button(type='button') SIGN UP