doctype html
html
    head
        title login
        script(src='./lib/jquery.js')

        script(src='./lib/bootstrap/js/bootstrap.min.js')
        // link(href='http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css', rel='stylesheet')
        link(href='./lib/bootstrap/css/bootstrap.min.css' rel='stylesheet')
        link(href='/bin/css/login.css' rel='stylesheet')

    body
        #modify.wrapper
            .blank
            .info-card.clearfix
                p Login
                .center-self.center-block.clearfix
                    form
                        .form-group
                            label(for='InputIdCard') idCard
                            input#InputIdCard.form-control(name='idCard' type='text', placeholder='Enter idCard')

                        a(href='/signup' role="button").btn.btn-default.pull-right Register

                        button#login.btn.btn-success.pull-right login
        script(src='./bin/js/login.js')
