doctype html
html
    head
        title register
        script(src='./lib/jquery.js')
        script(src='./lib/bootstrap/js/bootstrap.min.js')
        // link(href='http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css', rel='stylesheet')
        link(href='./lib/bootstrap/css/bootstrap.min.css' rel='stylesheet')
        link(href='/bin/css/register.css' rel='stylesheet')
        script(src='./bin/js/register.js')

    body
        #modify.wrapper.clearfix
            .blank
            .info-card.clearfix
                p Sign up
                .center-self.center-block.clearfix
                    form(action='/signup', method='POST')
                        .form-group
                            label(for='InputName') Name
                            input#InputName.form-control(name='name' type='text', placeholder='Enter name')
                        .form-group
                            label(for='InputIdCard') idCard
                            input#InputIdCard.form-control(name='idCard' type='text', placeholder='Enter idCard')
                        .form-group
                            label(for='InputLocation') loc
                            input#InputLocation.form-control(name='loc' type='text', placeholder='Enter Location')
                        .form-group
                            label(for='InputEmail') Email address
                            input#InputEmail.form-control(name='email' type='email', placeholder='Enter Email')

                        a(href='/' role="button").btn.btn-default.pull-right Home

                        button.btn.btn-success.pull-right(type='submit') Signup
