doctype html
html
    head
        title register
        script(src='./lib/jquery.js')
        script(src='./lib/bootstrap/js/bootstrap.min.js')
        // link(href='http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css', rel='stylesheet')
        link(href='./lib/bootstrap/css/bootstrap.min.css' rel='stylesheet')
        link(href='/bin/css/usr.css' rel='stylesheet')
        script(src='./bin/js/usr.js')
body
  #modify.wrapper
      .info-card
        i.icon-pencil-squared.modify-btn
        |         
        .info-wrapper
          .avatar-round
            input#avatarupload(type='file', name='')
            |             
            .card-avatar
          |           
          .info-detail
            input#nickname(type='text', value='哆啦A梦')
            |             
            input#mood(type='text', placeholder='他比较懒，没有介绍自己')

            button.btn.btn-primary.login-button.auth.center-block(type='submit') 关注

