doctype html
html
    head
        title Wish
        link(href='../lib/bootstrap/css/bootstrap.min.css', rel='stylesheet')
        script(src='../lib/bootstrap/js/bootstrap.min.js')
        script(src='../lib/jquery.js')
        link(href='../bin/css/wish.css' rel='stylesheet')
        script(src='../bin/js/wish.js')

    body
    
        nav.navbar.nav-background.navbar-default
            div.container-fluid
                div.userInfo.navbar-header.navbar-left
                    span.navbar-brand user.username
    
                ul.nav.navbar-nav.navbar-right
                    li
                        a.col-md-4.btn.btn-link(href='/') 首页
                    li
                        a.col-md-4.btn.btn-link(href='/usr') 个人页面
                    li
                        a.col-md-4.btn.btn-link(href='/') 退出

        div.container.well.well-lg
            p.title Wishes

            ul.panel-group
              li.panel.panel-default
               div.userInfo
                  p user.userName
    
               div.wishes
                      p 主题:
                          span wish.theme
                      p 实现时间: 
                          span wish.stt ~  wish.ddl
                      p 状态: 
                          span wish.status
                      p 描述:
                          span  wish.desc
    
               div.operator
                   //if ivuser.userName == wish.publisher
                   button.btn.btn-success(type="submit") 编辑
                   button.btn.btn-success(type="submit") 删除

              li.panel.panel-default
               div.userInfo
                  p user.userName
    
               div.wishes
                      p 主题:
                          span wish.theme
                      p 实现时间: 
                          span wish.stt ~  wish.ddl
                      p 状态: 
                          span wish.status
                      p 描述:
                          span  wish.desc
    
               div.operator
                   //else
                   button.btn.btn-success(type="submit") 点赞
                   button.btn.btn-success(type="submit") 私信
                   