body {
  background-image: url(/stylesheets/bg.jpg);
  background-size: cover; }

.wrapper-self {
  width: 80%;
  margin: 0 auto; }

.background-self {
  background-color: rgba(248, 248, 248, 0.85); }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.ui.card:last-child {
  margin-bottom: 0; }

.ui.card {
  margin: 1em 0; }

.ui.card, .ui.cards > .card {
  opacity: 0.85;
  /*height: 300px;
  max-width: 100%;*/
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  /*width: 290px;*/
  min-height: 0;
  background: white;
  padding: 0;
  border: none;
  border-radius: 0.2857rem;
  box-shadow: 0 3px 0 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  -webkit-transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
  z-index: ""; }

.ui.card > .content, .ui.cards > .card > .content {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background: 0 0;
  margin: 0;
  padding: 1em;
  box-shadow: none;
  font-size: 1em;
  border: none;
  border-radius: 0; }

.ui.card > .content > .header:not(.ui), .ui.cards > .card > .content > .header:not(.ui) {
  font-weight: 700;
  font-size: 1.2em;
  margin-top: -0.165em;
  line-height: 1.33em; }

.ui.card > .content > .header, .ui.cards > .card > .content > .header {
  display: block;
  margin: 0;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.85); }

.ui.card .meta, .ui.cards > .card .meta {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.4); }

.ui.card > .content > .header + .description, .ui.card > .content > .meta + .description, .ui.cards > .card > .content > .header + .description, .ui.cards > .card > .content > .meta + .description {
  margin-top: 0.5em; }

.ui.card > .content > .description, .ui.cards > .card > .content > .description {
  clear: both;
  color: rgba(0, 0, 0, 0.5); }

.description p {
  max-height: 200px;
  text-overflow: ellipsis;
  overflow: hidden; }

.ui.card > .extra, .ui.cards > .card > .extra {
  max-width: 100%;
  min-height: 0 !important;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  position: static;
  background: 0 0;
  width: auto;
  margin: 0;
  padding: 0.75em 1em;
  top: 0;
  left: 0;
  color: rgba(0, 0, 0, 0.4);
  box-shadow: none;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  border-top: 1px solid rgba(0, 0, 0, 0.05); }

.ui.card [class*="right floated"], .ui.cards > .card [class*="right floated"] {
  float: right; }

.ui.card .avatar img, .ui.card img.avatar, .ui.cards > .card .avatar img, .ui.cards > .card img.avatar {
  width: 7em;
  height: 7em;
  border-radius: 50rem; }

.ui.card .content img, .ui.cards > .card .content img {
  display: inline-block;
  vertical-align: middle;
  width: auto; }

.ui.avatar.image, .ui.avatar.image img, .ui.avatar.image svg, .ui.avatar.images .image, .ui.avatar.images img, .ui.avatar.images svg {
  margin-right: 0.25em;
  display: inline-block;
  width: 25em;
  height: 25em;
  border-radius: 500rem; }

img.ui.image {
  display: block; }

.ui.image {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  background-color: transparent; }

.cjs-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.cjs-cell {
  padding: 10px; }

@media screen and (max-width: 900px) {
  .cjs-row {
    display: block; } }

.zyh {
  display: inline;
  font-size: 22px;
}

.fan {
  margin-top: 10px;
}
.fol {
  margin-top: 10px;
}