html,
body {
  width: 100%;
  height: 100%; }

#log-out {
  margin-right: 10px; }

#modify.wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(/src/img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #22292c; }

#modify.display-block {
  display: block; }

.black-bg {
  background-color: #000;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  top: 0; }

.info-card {
  opacity: 0.8;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 60%;
  width: 600px;
  height: 180px;
  margin: auto;
  border-radius: 6px;
  background-color: #fafafa;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

.info-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 70%;
  height: 330px;
  margin: auto;
  border-radius: 4px; }

.avatar-round {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 40px auto 0 auto;
  border: 1px solid #eee;
  border-radius: 60px; }

.card-avatar {
  font-size: 60px;
  line-height: 100px;
  width: 100px;
  height: 100px;
  margin: 10px auto;
  text-align: center;
  color: rgba(255, 255, 255, 0.95);
  border-radius: 50px;
  background-image: url(/src/img/avatar.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 120px;
  background-size: 120px;
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.26); }

.info-detail {
  margin-top: 16px; }

.info-detail input {
  font-family: sans-serif;
  font-size: 28px;
  width: 100%;
  text-align: center;
  color: #2f3f50;
  border: none;
  background-color: transparent; }

.info-detail input#mood {
  font-size: 22px;
  color: #b0b8c1; }

.info-detail input:focus {
  background-color: #eee; }

.input-focus {
  background-color: #eee; }

.input-blur {
  background-color: transparent; }

.icon-pencil-squared {
  font-size: 23px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  opacity: 0.15;
  text-shadow: 0 0 1px #ccc; }

.icon-pencil-squared:active {
  opacity: 0.5; }

#avatarupload {
  position: absolute;
  z-index: 50;
  top: 10px;
  left: 10px;
  width: 100px;
  height: 100px;
  opacity: 0; }

.loading-info {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 20%;
  text-align: center; }

.loading-info h2, p {
  color: #444;
  margin: 0; }

.loading-info h2 {
  font-size: 20px; }

.cjs-1 {
  width: 63px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 40%;
  margin-left: 250%;
  margin-top: 20px; }

.cjs-2 {
  width: 63px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 90%;
  margin-left: 350%;
  margin-top: 20px; }

.lyj {
  position: relative;
  width: 50px;
  height: 50px; }

@media screen and (max-width: 310px) {
  .cjs-1 {
    width: 51px;
    height: 33px;
    position: absolute;
    top: 50%;
    left: 63%;
    margin-left: 20px;
    margin-top: 20px; }

  .cjs-2 {
    width: 51px;
    height: 33px;
    position: absolute;
    top: 50%;
    left: 120%;
    margin-left: 100%;
    margin-top: 20px; } }

/*# sourceMappingURL=usr.css.map */
