body
  background-image: url(../../assets/img/user/bg.jpg)
  background-size: cover
  #mainbox
    #daohang
      opacity: 0.85
      overflow: auto
    #exchange
      margin-top: 5%
      width: 60%
      margin-left: 20%
      opacity: 0.85
      #ex
        height: 60%
        width: 60%
        margin-top: 30%
        margin-left: 15%
    #invite
      .panel-footer
        overflow: auto
        .send
          float: right