body
  background-image: url(../../assets/img/user/bg.jpg)
  #mainbox
    #daohang
      margin-top: 1%
      overflow: auto
      .nav
        margin-right: 10%
        float: right
    #invitation
      margin-top: 5%
      width: 80%
      margin-left: 10%
      .from
        margin-left: 80%
    #choose-wishes
      .panel-footer
        overflow: auto
        .agree
          float: right
        .disagree
          float: right
          margin-right: 10%